@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0');


* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #29335c;
    --mainColorLight: #29335c;
    --secondaryColor: #DB2B39;
    --textColor: #eee;

}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}
.logo {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo h3 {
    margin-left: 1rem;
    font-size: 25px;
}


nav {
    justify-content: center;
}

nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.2rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        justify-content: center;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: center;
        align-items: center;
        justify-items: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: .5s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
        /* justify-content: center;
        align-items: center;
        display: flex; */
    }

    /* nav .responsive_nav {
        transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    nav .nav-colse-btn {
        position: absolute;
        top: 1.5rem;
        right: 1.6rem;
    }

    nav a {
        font-size: 1rem;
    }
}